{% extends 'layout.twig' %}

{% block content %}
  <div class="hero-unit">
    <h1>Google -> Pinboard</h1>
    <p>Import your Google Bookmarks into Pinboard in 3 easy steps</p>
    <p><a class="btn btn-primary btn-large">Do it &raquo;</a></p>
  </div>
{% endblock %}
