{% extends 'layout.twig' %}

{% block content %}
  <h1>Google -> Pinboard</h1>
  <p>Import your Google Bookmarks into Pinboard in 3 easy steps</p>
  <p><a class="btn btn-primary btn-large">Do it &raquo;</a></p>

  <div class="row-fluid">
    <div class="span4">
      Step 1. Click this link to download a file with your google bookmarks: <a href="http://www.google.com/bookmarks/?output=xml&num=100000">download</a>.
    </div>

    <div class="span4">
      Step 2. Use this form to convert the file.
      <form action="/" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type=submit class="btn btn-large btn-primary">Submit</input>
      </form>
    </div>
  
    <div class="span4">
      Step 3. Import the new file here: <a href="https://pinboard.in/settings/import">Pinboard Import</a>.
    </div>
  </div>
{% endblock %}
