{% extends 'layout.twig' %}

{% block content %}
  
  <div class="hero-unit">
    <h1>Google -> Pinboard</h1>
    <p>Import your Google Bookmarks into Pinboard in 3 easy steps</p>
  </div>

  <div class="row-fluid">
    <div class="span4 well">
      <h3>Step 1</h3>
      <p>
        Click this link to download a file with your google bookmarks: <a href="http://www.google.com/bookmarks/?output=xml&num=100000">download</a>.
      </p>
    </div>

    <div class="span4 well">
      <h3>Step 2</h3>
      <p>Use this form to convert the file.</p>
      <form action="/" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form.bookmarks) }}
        {{ form_rest(form) }}
        <button type=submit class="btn btn-primary">Convert</input>
      </form>
    </div>
  
    <div class="span4">
      <h3>Step 3</h3>
      <p>Import the new file here: <a href="https://pinboard.in/settings/import">Pinboard Import</a>.</p>
    </div>
  </div>
{% endblock %}
