@import "bootstrap/bootstrap.less";


body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('/assets/img/bg.png') repeat center center;
}

/*#overlay
{
  height: 100%;
  #translucent > .background(@blue, 0.5);
}*/

.well { margin-bottom: 0; }

div.top
{
  margin-bottom: 20px;
  h1 
  {
    font-size: 2.25em;
  }
}

footer p
{
  float: right;
  font-size: 0.825em;
}

hr
{
  border-top-color: @grayLight;
  border-bottom-color: @grayLighter;
}

@import "bootstrap/responsive.less";

